.row
  .col-md-12
    %ps
      %strong Feed Title:
      =@feed_headers[:title]
    %br

    %ps
      %strong Feed Description:
      =@feed_headers[:description]
    %br

    %ps
      %strong Feed url:
      = @feed.feed_url

    %hr

    %ul.list-group#feed_items
      - if @feed_items.present?
        = render 'feed_items'
      - else
        %li.list-group-item
          %h4 No Feed Items Found.

.row
  .col-md-12
    #paginator.pull-right= paginate @feed_items, remote: true
